In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Lectura del dataset usando como index la primera columna
df = pd.read_csv('properatti.csv', index_col=0)

In [3]:
df.shape

(121220, 25)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121220 entries, 0 to 121219
Data columns (total 25 columns):
operation                     121220 non-null object
property_type                 121220 non-null object
place_name                    121197 non-null object
place_with_parent_names       121220 non-null object
country_name                  121220 non-null object
state_name                    121220 non-null object
geonames_id                   102503 non-null float64
lat-lon                       69670 non-null object
lat                           69670 non-null float64
lon                           69670 non-null float64
price                         100810 non-null float64
currency                      100809 non-null object
price_aprox_local_currency    100810 non-null float64
price_aprox_usd               100810 non-null float64
surface_total_in_m2           81892 non-null float64
surface_covered_in_m2         101313 non-null float64
price_usd_per_m2              68617 non-null float64
price_per_m2                  87658 non-null float64
floor                         7899 non-null float64
rooms                         47390 non-null float64
expenses                      14262 non-null float64
properati_url                 121220 non-null object
description                   121218 non-null object
title                         121220 non-null object
image_thumbnail               118108 non-null object
dtypes: float64(13), object(12)
memory usage: 24.0+ MB

In [5]:
df.columns

Index(['operation', 'property_type', 'place_name', 'place_with_parent_names',
       'country_name', 'state_name', 'geonames_id', 'lat-lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail'],
      dtype='object')

In [6]:
# Revisar contenido de columnas
for col in df.columns:
   print(f'col: {col} --> contenido: {df[col].unique()}')

col: operation --> contenido: ['sell']
col: property_type --> contenido: ['PH' 'apartment' 'house' 'store']
col: place_name --> contenido: ['Mataderos' 'La Plata' 'Liniers' ... 'Laguna Paiva' 'Malabrigo'
 'Altos de Hudson I']
col: place_with_parent_names --> contenido: ['|Argentina|Capital Federal|Mataderos|'
 '|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|'
 '|Argentina|Capital Federal|Liniers|' ...
 '|Argentina|Santa Fe|Laguna Paiva|' '|Argentina|Santa Fe|Malabrigo|'
 '|Argentina|Bs.As. G.B.A. Zona Sur|Berazategui|Altos de Hudson I|']
col: country_name --> contenido: ['Argentina']
col: state_name --> contenido: ['Capital Federal' 'Bs.As. G.B.A. Zona Sur' 'Buenos Aires Costa Atlántica'
 'Entre Ríos' 'Bs.As. G.B.A. Zona Norte' 'Santa Fe' 'Córdoba'
 'Bs.As. G.B.A. Zona Oeste' 'Misiones' 'Buenos Aires Interior' 'Salta'
 'Neuquén' 'Río Negro' 'San Luis' 'Mendoza' 'Corrientes' 'Chubut'
 'Tucumán' 'La Pampa' 'Chaco' 'San Juan' 'Santa Cruz' 'Tierra Del Fuego'
 'Catamarca' 'Santiago Del Estero' 'Jujuy' 'La Rioja' 'Formosa']
col: geonames_id --> contenido: [3430787. 3432039. 3431333. 3435548. 3433657. 3430511. 3436077. 3838574.
 3860259.      nan 3430813. 3430234. 3436061. 3427753. 3832729. 3433780.
 3435607. 3433918. 3429979. 3436003. 3845202. 3435087. 3832791. 3429760.
 6693228. 3434130. 3428983. 3435874. 3436508. 3430348. 3436042. 3433359.
 3430863. 3429886. 3862356. 3429228. 3428113. 3436397. 3433955. 3427500.
 3429971. 3436048. 3436080. 3435351. 3430982. 3837090. 3435907. 3431273.
 3839996. 3427431. 3436152. 3433323. 3838233. 3430310. 3836277. 3435356.
 3433977. 3433910. 3856531. 3429651. 3429594. 3860360. 3855061. 3436109.
 3856226. 3436079. 3436134. 3429316. 3427463. 3832815. 3429418. 3434158.
 3429617. 3836951. 3429595. 3836276. 3435259. 3427458. 3435506. 3435257.
 3433775. 3832899. 3844377. 3429902. 3429422. 3430570. 3835793. 3430387.
 3865084. 3429088. 3427354. 3843123. 3837856. 3430115. 3427467. 3433778.
 3430087. 3436487. 3429703. 3435359. 3844421. 3854993. 3430550. 3428775.
 3436033. 3427407. 3850312. 3433321. 3845393. 3427714. 3430861. 3856022.
 3427451. 3436004. 3838609. 3427504. 3432310. 3431259. 3435894. 3428075.
 3430105. 3433844. 3429153. 3833874. 3431309. 3860163. 3435710. 3833883.
 3427528. 3839479. 3839482. 3427510. 3427455. 3430146. 3430596. 3435379.
 3429576. 3430442. 3843843. 3430114. 3852288. 6693229. 3427478. 6693230.
 3433782. 3436309. 3429604. 3834652. 6942842. 3427411. 3434003. 3832260.
 3860255. 3430544. 3429244. 3430513. 3835994. 3837675. 3833857. 3429577.
 3832734. 3832749. 3435719. 3429582. 3431270. 3427958. 3430272. 3864887.
 3854895. 3855302. 3832932. 3433975. 3433908. 3428373. 3429308. 3862325.
 3433800. 3851072. 3429053. 3428050. 3427406. 3436227. 3427326. 3427447.
 3430696. 3427655. 3836873. 3834814. 3430339. 3430786. 3430866. 3430862.
 3430291. 3836668. 3861056. 3838231. 3435643. 3847770. 3845710. 3837989.
 3835943. 3428123. 3832711. 3433522. 3844424. 3838902. 3832509. 3429692.
 3430116. 3866959. 3851331. 3432134. 3429449. 3837152. 3832631. 3834251.
 3854963. 3432308. 3430867. 6942539. 3859965. 3832769. 3852374. 3844419.
 3833358. 3845244. 3838294. 3851798. 3848352. 3836982. 3860705. 3433881.
 3435024. 3433770. 3833675. 3435186. 3430668. 3843007. 3436124. 3431266.
 3429933. 3838638. 3845180. 3427581. 6942538. 3433798. 3855105. 3860217.
 3434509. 3433357. 3427832. 3435010. 3428533. 3427506. 3429635. 3427367.
 3430412. 3429355. 3840902. 3834397. 3837056. 3863379. 3838854. 3427442.
 3864331. 3427561. 3430992. 3435264. 3853350. 3430102. 3436176. 3433836.
 3427433. 3844229. 3429636. 3433762. 3832763. 3853958. 3849517. 3427377.
 3838873. 3428056. 3427818. 3832705. 3435809. 3433723. 3428609. 3865448.
 3435340. 3845035. 3855244. 3846861. 3861061. 3840631. 3840092. 3427408.
 3435465. 3427399. 3847955. 3435376. 3846258. 3427405. 3435689. 3431239.
 3838822. 3864878. 3427776. 3435789. 3429160. 3430705. 3430657. 3435260.
 3852240. 3838793. 3433947. 3842670. 3838715. 3427387. 3838830. 3861244.
 3431949. 3436394. 3433424. 3435029. 3428455. 3433787. 3836128. 3430869.
 3430865. 3836188. 3863502. 3853938. 3842662. 3865352. 3853509. 3431366.
 3841684. 3849298. 3833365. 3433821. 3852393. 3837456. 3840905. 3435732.
 3430595. 3429247. 3427366. 3435217. 3837821. 3853705. 3430878. 3435612.
 3833412. 3832778. 3839982. 3435446. 3856210. 3427212. 3431204. 3433974.
 3854454. 3430679. 3431325. 3832698. 3436022. 3840885. 3843919. 3427383.
 3436521. 3843788. 3860198. 3431350. 3433922. 3839262. 3435055. 3855075.
 3436197. 3841488. 3865991. 3433958. 3835910. 3834182. 3864261. 3435280.
 3429496. 3838750. 3436426. 3435962. 3838560. 3837232. 3433964. 3866237.
 3835868. 3839304. 3843135. 3435704. 3837029. 3839107. 3839149. 3849189.
 3480730. 3838235. 3856288. 3844848. 3434140. 3833919. 3427386. 3430782.
 3837122. 3429688. 3862286. 3430287. 3837857. 3853510. 3835883. 3856657.
 3427626. 3428973. 3863050. 3839061. 3845635. 3836587. 3429764. 3837702.
 3865281. 3862084. 3860197. 3431608. 3436205. 3430103. 3835760. 3431836.
 3837980. 3837213. 3430780. 3855114. 3833100. 3429786. 3832398. 3834813.
 3427379. 3435331. 3866396. 3836564. 3433340. 3862738. 3841500. 3436149.
 3862758. 3836846. 3832718. 3866926. 3435406. 3862583. 3861415. 3843871.
 3832661. 3845944. 3833650. 3837834. 3844642. 3862761. 3863810. 3866163.
 3839406. 3843435. 3840685. 3848676. 3865999. 3436230. 3835759. 3430719.
 3842559. 3838865. 3861869. 3835617. 3435813. 3429777. 3832679. 3846127.
 3864851. 3427208. 3430454. 3849574. 3435974. 3834665. 3842669. 3834450.
 3842653. 3435650. 3858298. 3436414. 3834971. 3427602. 3835354. 3862144.
 3833519. 3835711. 3852468. 3855370. 3866667. 3847836. 3836620. 3430838.
 3855135. 3435369. 3862889. 3832756. 3832603. 3436030. 3838686. 3843122.
 3433816. 3428927. 3427375. 3865385. 3862606. 3427535. 3427511. 3860886.
 3854331. 3840255. 3433794. 3833062. 3834309. 3427896. 3856235. 3435532.
 3837885. 3865981. 3855626. 3431318. 3838796. 3840293. 3434177. 3865485.
 3847613. 3833211. 3835289. 3853654. 3832606. 3428974. 3860179. 3837956.
 3854360. 3436249. 3436038. 3862215. 3832784. 3861329. 3859827. 3832773.
 3859556. 3838749. 3838506. 3848299. 3835998. 3860205. 3848949. 3435486.
 3832694. 3845073. 6690180. 3861631. 3839441. 3858677. 3430311. 3832733.
 3430951. 6948895. 3436058. 3856121. 3855072. 3841462. 3427689. 3836129.
 3855570. 3845391. 3839303. 3846269. 3836586. 3433898. 3863596. 3433325.
 3845365. 3430759. 3837441. 3841678. 3433839. 3862546. 3832708. 3832800.
 3855282. 3840300. 3842142. 3853352. 3854444. 3853404. 3860801. 3435214.
 3847933. 3839667. 3430876. 3842871. 3848950. 3835046. 3853745. 3833878.
 3834897. 3427443. 3866377. 3436091. 3837098. 3855368. 3432077. 3855124.
 3860427. 3853334. 3855377. 3857722. 3863890. 3842621. 3854008. 3844994.
 3844159. 3832662. 3855679. 3837760. 3864888. 3844759. 3859429. 3836446.
 3832809. 3862397. 3838859. 3832759. 3841149. 3850929. 3842796. 3835207.
 3863346. 3832741. 3861887. 3429610. 3854153. 3850920. 3430940.]
col: lat-lon --> contenido: ['-34.6618237,-58.5088387' '-34.9038831,-57.9643295'
 '-34.6522615,-58.5229825' ... '-34.6299818267,-58.4574441003'
 '-34.6087030398,-58.476204069' '-34.6295045177,-58.460641832']
col: lat --> contenido: [-34.6618237  -34.9038831  -34.6522615  ... -34.62998183 -34.60870304
 -34.62950452]
col: lon --> contenido: [-58.5088387  -57.9643295  -58.5229825  ... -58.4574441  -58.47620407
 -58.46064183]
col: price --> contenido: [  62000.  150000.   72000. ... 2714000. 1482000. 1502000.]
col: currency --> contenido: ['USD' nan 'ARS' 'PEN' 'UYU']
col: price_aprox_local_currency --> contenido: [1093959.   2646675.   1270404.   ... 2685688.57 1466540.26 1486331.74]
col: price_aprox_usd --> contenido: [ 62000.   150000.    72000.   ... 152211.09  83116.    84237.68]
col: surface_total_in_m2 --> contenido: [   55.    nan    35. ...  3187.  5196. 25186.]
col: surface_covered_in_m2 --> contenido: [4.0000e+01        nan 5.5000e+01 3.5000e+01 7.8000e+01 6.0000e+01
 3.6000e+01 3.0000e+01 3.1000e+01 9.8000e+01 2.7000e+02 9.6000e+01
 1.4800e+02 7.3000e+01 2.0000e+02 4.2000e+01 1.6000e+02 1.9000e+02
 4.2500e+02 4.3000e+01 1.5000e+02 1.0300e+02 5.0000e+01 8.3000e+01
 7.7000e+01 4.0000e+02 7.5000e+01 1.3000e+02 1.2000e+02 7.4000e+01
 1.1500e+02 4.7000e+01 3.2000e+01 2.0900e+02 1.4000e+02 1.2400e+02
 2.5000e+02 1.2200e+02 3.2400e+02 4.6000e+01 2.6100e+02 8.0000e+02
 6.7000e+01 2.2000e+02 1.5600e+02 2.6000e+02 7.2000e+01 2.0700e+02
 2.9000e+01 9.0000e+01 8.5000e+01 1.8615e+04 1.2900e+02 2.8000e+01
 6.3000e+01 2.2800e+02 1.7000e+02 5.3000e+01 4.1600e+02 9.5000e+01
 1.8000e+02 2.6500e+02 1.6500e+02 3.5000e+02 2.8500e+02 1.0000e+02
 2.5600e+02 1.8500e+02 2.4000e+02 1.8800e+02 1.2500e+02 6.6000e+01
 7.0000e+01 2.2200e+02 1.2600e+02 2.1500e+02 1.8300e+02 9.1000e+01
 6.1200e+02 3.4000e+01 1.1600e+02 8.0000e+01 9.4000e+01 3.9000e+01
 5.1000e+01 7.1000e+01 2.0000e+01 5.7000e+01 4.5000e+02 1.3500e+02
 1.1000e+02 1.9600e+02 4.1000e+01 4.8000e+01 5.4000e+01 4.5000e+01
 3.0000e+02 6.2000e+01 1.0500e+02 5.9000e+01 1.8100e+02 3.3000e+01
 1.5400e+02 3.4300e+02 9.9000e+01 8.2000e+01 1.7500e+02 1.2300e+02
 1.1400e+02 3.7000e+01 2.3500e+02 3.0600e+02 4.4000e+01 2.3600e+02
 1.3100e+02 2.3000e+01 1.5300e+02 5.6000e+01 8.4000e+01 2.3000e+02
 2.9000e+02 6.8000e+01 1.4900e+02 3.8000e+01 6.3200e+02 1.2800e+02
 1.1200e+02 2.5300e+02 1.5200e+02 6.4000e+02 3.5500e+02 1.0000e+00
 2.7000e+01 2.5000e+01 6.1000e+01 1.7800e+02 6.5000e+01 1.7200e+02
 4.4000e+02 2.5200e+02 3.1500e+02 3.8000e+02 3.7900e+02 3.6500e+02
 1.9700e+02 1.3600e+02 3.2000e+02 5.0000e+02 2.3200e+02 1.4300e+02
 1.4500e+02 2.8800e+02 4.3000e+02 6.9000e+01 2.0400e+02 9.7000e+01
 4.9000e+01 4.9400e+02 1.8900e+02 7.2000e+02 3.9800e+02 2.5100e+02
 2.5400e+02 2.8000e+02 2.2100e+02 2.7500e+02 2.8700e+02 1.8000e+03
 7.9000e+01 1.6600e+02 1.4700e+02 8.1000e+01 1.0400e+02 5.2000e+01
 4.6200e+02 2.1000e+02 3.4000e+02 3.0300e+02 5.6000e+02 3.7000e+02
 5.8000e+01 2.6200e+02 1.0200e+02 1.7400e+02 7.6000e+01 1.6900e+02
 1.1100e+02 1.6700e+02 2.0300e+02 1.9300e+02 1.0600e+02 1.4600e+02
 2.1700e+02 1.3400e+02 8.7000e+01 8.6000e+01 2.8600e+02 1.9500e+02
 1.2100e+02 4.0000e+00 2.4000e+01 4.6000e+02 2.2300e+02 2.8400e+02
 2.6000e+01 3.8200e+02 4.7200e+02 1.7700e+02 1.3700e+02 1.5800e+02
 5.3700e+02 1.6400e+02 2.2700e+02 2.2500e+02 1.8600e+02 1.5100e+02
 6.6000e+02 4.2000e+02 3.4800e+02 1.4400e+02 2.2600e+02 3.2800e+02
 2.6900e+02 8.8000e+01 6.4000e+01 1.7600e+02 1.9100e+02 1.5500e+02
 2.9900e+02 4.5500e+02 5.0700e+02 2.3800e+02 2.1400e+02 2.4100e+02
 1.3900e+02 3.0900e+02 1.1800e+02 1.1900e+02 2.4700e+02 1.6200e+02
 3.1700e+02 2.1900e+02 2.0200e+02 2.0600e+02 1.0800e+02 4.3100e+02
 1.2700e+02 3.4500e+02 4.7400e+02 3.6000e+02 8.9000e+01 2.4400e+02
 1.5700e+02 1.6100e+02 3.5400e+02 1.3200e+02 2.5800e+02 1.4200e+02
 2.0500e+02 1.7900e+02 3.8900e+02 5.6500e+02 2.7800e+02 4.8000e+02
 4.2100e+02 1.8700e+02 2.9500e+02 3.1000e+02 3.7300e+02 1.7300e+02
 3.3000e+02 3.5800e+02 1.1700e+02 9.2000e+01 1.3800e+02 3.7100e+02
 2.1000e+01 1.0000e+01 6.1500e+02 6.0000e+02 1.7100e+02 5.3000e+02
 1.8400e+02 2.1100e+02 7.5000e+02 1.3300e+02 2.0800e+02 4.1000e+02
 2.4200e+02 1.6800e+02 7.0000e+02 3.3200e+02 4.7000e+02 6.2000e+02
 3.6200e+02 3.1300e+02 1.0100e+02 2.4500e+02 1.8000e+01 4.9000e+02
 1.0900e+02 2.2400e+02 1.8200e+02 3.6700e+02 3.8800e+02 5.4600e+02
 1.5900e+02 2.3300e+02 3.2700e+02 7.3000e+02 4.9800e+02 2.6300e+02
 3.9300e+02 3.3900e+02 1.9200e+02 2.3100e+02 2.5500e+02 1.9400e+02
 2.9800e+02 2.1600e+02 3.5200e+02 2.3400e+02 5.7000e+02 3.5000e+03
 4.3800e+02 9.3000e+01 3.3500e+02 2.4900e+02 1.6300e+02 1.2000e+03
 1.9800e+02 1.0000e+03 1.2000e+01 5.5000e+02 2.5700e+02 2.0000e+00
 2.3900e+02 2.5900e+02 2.7400e+02 2.7100e+02 3.6100e+02 3.0700e+02
 1.9900e+02 8.5000e+02 7.1000e+02 2.4300e+02 1.4100e+02 2.6800e+02
 2.4600e+02 2.3700e+02 2.9200e+02 2.2000e+01 2.1800e+02 4.5800e+02
 3.5560e+03 3.5300e+02 4.1500e+02 3.1600e+02 4.7500e+02 3.7500e+02
 2.1200e+02 5.2400e+02 1.1300e+02 7.7000e+02 4.2700e+02 5.7900e+02
 4.3400e+02 3.2600e+02 2.8200e+02 5.8000e+02 2.8100e+02 2.7700e+02
 2.7200e+02 3.9000e+02 1.8460e+03 3.3600e+02 2.6700e+02 3.0000e+03
 5.3200e+02 3.3100e+02 3.1100e+02 2.8900e+02 3.0200e+02 4.0200e+02
 1.0700e+02 3.0800e+02 5.8700e+02 2.1300e+02 6.5000e+02 2.2900e+02
 4.2800e+02 8.7000e+02 7.5500e+02 2.9600e+02 4.0600e+02 4.9300e+02
 6.1400e+02 9.0000e+02 2.7900e+02 3.3400e+02 4.4200e+02 2.6400e+02
 6.3000e+02 4.8700e+02 3.4600e+02 3.9500e+02 4.0800e+02 4.8200e+02
 3.4100e+02 6.7000e+02 1.2500e+03 5.3500e+03 4.0700e+02 3.2200e+02
 2.6600e+02 4.1400e+02 1.0145e+04 3.1400e+02 5.2000e+02 3.8100e+02
 2.9300e+02 6.8900e+02 5.8800e+02 3.1800e+02 3.0500e+02 9.1000e+02
 3.2500e+02 3.0000e+00 4.9200e+02 1.1240e+03 3.9600e+02 0.0000e+00
 3.5100e+02 3.2900e+02 4.4500e+02 2.9700e+02 4.1700e+02 6.0000e+00
 2.9400e+02 5.1800e+02 5.1600e+02 3.4700e+02 6.0500e+02 4.6100e+02
 4.1800e+02 4.4100e+02 1.5000e+01 3.7600e+02 7.1200e+02 4.4400e+02
 4.6500e+02 3.4200e+02 2.0100e+02 4.2300e+02 2.7600e+02 3.8600e+02
 1.9000e+01 3.4400e+02 4.0400e+02 5.2500e+02 4.8300e+02 7.1400e+02
 1.4280e+03 7.2300e+02 2.7300e+02 4.0300e+02 2.6000e+03 1.1111e+04
 3.2000e+03 2.3300e+03 1.0380e+03 3.3300e+02 4.5900e+02 3.6400e+02
 4.6800e+02 3.9100e+02 4.5600e+02 4.1110e+03 4.7900e+02 5.0400e+02
 1.4000e+03 6.6800e+02 6.3100e+02 3.7800e+02 4.3200e+02 7.7800e+02
 6.8300e+02 5.6400e+02 5.9700e+02 3.8600e+03 2.0500e+03 1.3000e+03
 8.2000e+02 3.2910e+03 3.7200e+02 1.0750e+03 4.8600e+02 6.4800e+02
 6.8700e+02 6.4200e+02 4.2600e+02 4.4800e+02 1.4000e+01 5.4000e+02
 3.8500e+02 4.0100e+02 4.8800e+02 3.0100e+02 4.6300e+02 8.3000e+02
 5.1200e+02 5.9200e+02 6.9000e+02 3.6300e+02 5.0900e+02 5.5100e+02
 7.6000e+02 1.0150e+03 4.5300e+02 4.7100e+02 2.9100e+02 1.7000e+01
 3.7700e+02 3.9200e+02 3.8700e+02 2.8300e+02 5.6200e+02 1.7000e+03
 7.5000e+03 3.6600e+02 9.9000e+02 9.8000e+02 1.5650e+03 5.7800e+02
 4.0500e+02 2.4800e+02 1.9000e+03 9.6500e+02 4.8500e+02 3.8400e+02
 3.4900e+02 5.0500e+02 3.2300e+02 4.4600e+02 4.5200e+02 1.1200e+03
 3.3800e+02 2.8000e+03 1.8635e+04 6.1000e+02 5.3900e+02 5.0200e+02
 3.5700e+02 5.5700e+02 6.3600e+02 8.9000e+02 4.8900e+02 5.2800e+02
 4.6700e+02 3.0400e+02 3.6900e+02 4.1100e+02 5.9400e+02 3.1200e+02
 3.3700e+02 1.6000e+01 3.9400e+02 6.4700e+02 4.6600e+02 3.7400e+02
 5.9000e+02 8.2300e+02 1.0660e+03 8.0000e+00 4.9600e+02 9.9300e+02
 5.0800e+02 5.1000e+02 1.2400e+03 6.3700e+02 6.8000e+02 4.7300e+02
 7.0200e+02 6.9100e+02 5.0000e+00 6.0400e+02 1.2410e+03 4.1200e+02
 5.5000e+03 4.7600e+02 4.3500e+02 7.0900e+02 4.8100e+02 4.2400e+02
 1.6200e+03 5.4100e+02 5.4900e+02 4.5700e+02 3.6800e+02 5.2700e+02
 3.5900e+02 1.0300e+03 4.3300e+02 1.2900e+03 9.4350e+03 4.1930e+03
 6.1800e+02 1.1000e+03 6.6600e+02 5.8600e+02 8.9200e+02 9.0000e+00
 3.5600e+02 8.4900e+02 3.8300e+02 1.1000e+01 4.4300e+02 4.1300e+02
 9.0660e+03 6.9200e+02 5.5200e+02 4.8400e+02 3.9900e+02 3.6730e+03
 3.8340e+03 4.2200e+02 4.3600e+02 3.2100e+02 7.8000e+02 1.3000e+01
 3.9700e+02 1.3500e+03 6.1700e+02 1.6000e+03 1.4480e+03 5.2600e+02
 1.5680e+03 7.3500e+02 3.1900e+02 6.8500e+02 2.2000e+03 5.4260e+03
 1.5000e+03 5.2200e+02 7.4400e+02 7.3100e+02 2.1540e+03 6.2300e+02
 6.7500e+02 4.9000e+04 5.8200e+02 5.1150e+03 1.6840e+03 2.0000e+03
 5.3500e+02 7.5800e+02 4.0900e+02 6.1900e+02 2.4000e+03 6.8400e+02
 1.4210e+04 5.8000e+03 1.0270e+03 3.1000e+03 6.8100e+02 3.8240e+04
 5.4700e+02 5.8500e+02 5.7200e+02 4.1360e+03 9.3000e+02 5.1000e+03
 5.5500e+02 7.8500e+02 5.4500e+02 6.3500e+02 4.8380e+03 7.7700e+02
 2.7500e+03 1.2980e+03 4.2900e+02 5.9500e+02 1.3560e+03 1.1300e+03
 4.3520e+03 5.3300e+02 8.6900e+02 2.3871e+04 2.7853e+04 6.5600e+02
 8.1100e+02 3.3300e+03 6.2500e+02 8.0500e+02 1.1120e+03 8.4300e+02
 5.0600e+02 6.6100e+03 4.7800e+02 6.3400e+02 2.0050e+03 7.7100e+02
 5.9800e+02 1.1500e+03 9.4500e+02 1.0510e+03 7.0000e+00 6.5500e+02
 4.1510e+03 9.3600e+02 4.4900e+02 1.7740e+03 2.5000e+03 6.0800e+02
 8.4000e+02 4.1900e+02 5.5600e+02 5.1650e+03 6.7700e+02 5.6600e+02
 8.1500e+02 8.9400e+02 5.1300e+02 6.2100e+02 4.9500e+02 5.5400e+02
 4.9700e+02 6.2700e+02 7.0400e+02 2.1000e+03 9.4000e+02 5.5900e+02
 8.3600e+02 6.0700e+02 1.0330e+03 9.1520e+03 5.1500e+02 8.1750e+03
 8.2250e+03 9.7000e+02 6.5800e+02 1.1900e+03 1.4460e+03 4.4700e+02
 8.7700e+02 6.7800e+02 8.6500e+02 4.3900e+02 1.8200e+03 1.1350e+03
 2.3680e+03 1.0920e+03 2.7000e+03 6.1100e+02 9.6700e+02 1.4500e+03
 4.3700e+02 6.6700e+02 8.5600e+02 1.8153e+04 5.4400e+02 3.9750e+03
 9.5000e+02 8.0300e+02 1.1640e+03 5.8890e+03 5.1400e+02 6.6740e+03
 2.9490e+03 1.2690e+03 7.0290e+03 7.0100e+02 6.3900e+02 1.1100e+03
 4.5400e+02 6.5000e+03 2.9350e+03 4.3500e+03 7.1300e+03 4.0000e+03
 4.5000e+03 4.6000e+03 5.7500e+02 1.3910e+03 4.8000e+03 6.2000e+03
 6.5100e+02 4.5500e+03 8.3500e+02 1.4000e+04 8.9100e+02 7.0500e+02
 4.5900e+03 8.2000e+03 1.7500e+03 1.2050e+03 7.7220e+03 5.4800e+02
 1.3400e+03 7.5600e+02 6.2600e+02 8.6300e+02 1.6300e+03 2.3000e+03
 1.1680e+04 1.5530e+03 3.2500e+03 4.2290e+03 5.7600e+02 3.8000e+03
 3.7000e+03 4.9200e+03 7.6000e+03 1.8900e+03 1.4920e+03 5.2100e+02
 7.7880e+03 1.3200e+04 1.4520e+03 7.0000e+03 1.1140e+03 1.3000e+04
 5.1900e+02 1.9200e+04 5.0000e+03 2.5000e+04 8.2500e+02 1.3490e+03
 3.0970e+03 3.5000e+04 1.5260e+03 1.9609e+04 1.4300e+03 4.9060e+03
 1.8090e+03 1.9826e+04 3.9800e+03 7.4000e+02 1.0958e+04 1.7100e+03
 5.2300e+02 5.7700e+02 8.5300e+02 7.0800e+02 4.6900e+02 8.8000e+02
 3.2010e+03 5.3100e+02 9.8300e+02 7.7900e+02 7.9000e+02 7.4600e+02
 1.6630e+03 5.6800e+02 2.0600e+03 7.6600e+02 1.9670e+03 9.8100e+02
 7.3800e+02 6.1300e+02 1.0550e+03 6.9800e+02 8.9500e+02 6.9900e+02
 3.6000e+03 6.7200e+02 6.7600e+02 1.8700e+05 5.1100e+02 6.0600e+02
 6.8600e+02 1.2590e+03 1.0120e+03 7.3600e+02 2.0910e+03 7.0300e+02
 5.0100e+02 6.0000e+03 5.8400e+02 1.4160e+03 2.2460e+03 7.6100e+02
 5.6900e+02 1.1630e+03 7.3300e+02 7.9100e+02 8.5200e+02 5.3350e+03
 5.9100e+02 1.8800e+03 1.3250e+03 1.9400e+03 1.0500e+03 5.0790e+03
 7.5900e+02 6.6400e+02 6.0100e+02 1.0630e+03 2.2200e+03 1.8375e+04
 6.5400e+02 8.6000e+02 7.7500e+02 4.9900e+02 6.8800e+02 4.9100e+02
 1.9050e+03 1.5770e+03 1.1700e+03 5.4300e+02 9.7900e+02 6.1600e+02
 1.0560e+03 5.8900e+02 9.5900e+02 4.9420e+03 2.4990e+03 7.2100e+02
 1.0130e+03 7.7400e+02 5.2900e+02 1.2800e+03 7.5200e+02 9.3700e+02
 7.9200e+02 1.1800e+03 1.5890e+03 1.0000e+04 6.2200e+02 8.6700e+02
 3.1810e+03 4.7600e+03 2.5480e+03 1.1320e+03 9.4400e+02 1.2330e+03
 8.9800e+02 5.8300e+02 4.6500e+03 2.5230e+03 6.0200e+02 7.1500e+02
 1.5800e+03 2.2800e+03 1.1210e+03 3.3800e+03 9.6000e+02 1.0200e+03
 8.4800e+02 2.2370e+03 2.2500e+03 5.5800e+02 7.2800e+02 2.2355e+04
 9.2000e+02 3.8950e+03 2.4500e+03 1.6610e+03 4.7000e+03 3.2390e+03
 3.9000e+03 2.4380e+03 5.7100e+02 1.7610e+03 1.1330e+03 3.0000e+04
 6.4500e+02 8.1000e+02 1.2190e+03 1.9250e+03 6.2800e+02 1.6030e+03
 5.5300e+02 1.4150e+03 7.1900e+02 3.4720e+03 6.5340e+03 2.0383e+04
 6.2400e+02 5.6100e+02 1.1830e+03 6.0620e+03 8.3300e+02 1.2150e+03
 1.5020e+03 9.8490e+03 6.8200e+02 9.1400e+02 5.3800e+02 7.2200e+02
 6.6300e+02 1.5750e+03 3.8960e+03 2.5186e+04 1.2731e+04 1.2000e+04]
col: price_usd_per_m2 --> contenido: [1127.27272727           nan 1309.09090909 ... 7699.11504425 2858.69565217
 1675.32467532]
col: price_per_m2 --> contenido: [1550.                   nan 1309.09090909 ... 9354.83870968 3371.79487179
 1675.32467532]
col: floor --> contenido: [      nan 5.000e+00 1.000e+00 2.000e+00 3.000e+00 1.200e+01 6.000e+00
 4.000e+00 7.000e+00 8.000e+00 9.000e+00 1.000e+01 1.100e+01 1.300e+01
 1.400e+01 1.500e+01 4.000e+01 2.500e+01 1.800e+01 2.700e+01 4.080e+02
 2.000e+01 4.200e+01 1.700e+01 3.000e+01 1.110e+02 1.606e+03 9.060e+02
 1.304e+03 6.060e+02 9.070e+02 1.201e+03 1.104e+03 8.030e+02 1.202e+03
 3.030e+02 7.040e+02 1.109e+03 3.040e+02 1.206e+03 1.602e+03 5.050e+02
 1.305e+03 3.020e+02 6.080e+02 1.504e+03 1.401e+03 1.106e+03 1.404e+03
 7.020e+02 1.608e+03 2.030e+02 9.050e+02 1.609e+03 1.301e+03 8.020e+02
 2.080e+02 1.204e+03 7.060e+02 9.080e+02 1.306e+03 3.050e+02 1.050e+02
 8.100e+02 1.403e+03 1.080e+02 3.010e+02 2.070e+02 4.040e+02 1.900e+01

col: properati_url --> contenido: ['http://www.properati.com.ar/15bo8_venta_ph_mataderos_lavadero_patio_inmobiliaria-fedele'
 'http://www.properati.com.ar/15bob_venta_departamentos_la-plata_balcon_lavadero_toilette_garage_estrenar_antonini-propiedades_dcp'
 'http://www.properati.com.ar/15bod_venta_departamentos_mataderos_lavadero_placard_inmobiliaria-fedele'
 ...
 'http://www.properati.com.ar/1cja7_venta_departamento_villa-urquiza_holmberg_2300_balcon_lavadero_parrilla_terraza_electrogeno_garage_amenities_placard_aire-acondicionado_estrenar_triada-propiedades_geg'
 'http://www.properati.com.ar/1cja8_venta_departamento_plaza-colon_lavadero_luminoso_dependencias_impecable_placard_girard-propiedades_gkl'
 'http://www.properati.com.ar/1cjaa_venta_departamento_capital-federal_baulera_lavadero_lujoso_dependencias_izrastzoff-compania-inmobiliaria']
col: description --> contenido: ['2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).'
 'Venta de departamento en décimo piso al frente, a estrenar. Living comedor con ventanales hacia el balcón con pisos de madera. Cocina completa con doble mesada, muebles bajo mesada. Lavadero separado. Toilette.Dormitorio con placard. Segundo dormitorio a dividir. Calefacción por radiadorBaño completo.Balcón corrido. Posibilidad de cochera semicubierta. U$D 20.000                     Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).'
 '2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AMPLIO COCINA SEPARADA CON LAVADERO, BAÑO COMPLETO Y DORMITORIO CON PLACARD. BAJAS EXPENSAS, EXCELENTE UBICACION     Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).'
 ...
 'VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTRENAR BALCON AMENITIES.ENTREGA INMEDIATA* DEPARTAMENTO: Excelente monoambiente de (43,00m2) divisible, con Importante Placard - Baño Completo - Balcón Corrido, Cocina Integrada con Equipamiento Completo y Herrajes de Acero Inoxidable, Grifería FV, Cocina con Horno, Termotanque Eléctrico, Servicios Individuales, Preinstalación Aire Acondicionado Frío-Calor, Conexión Lavarropas y Lavavajillas.* EDIFICIO: Moderno Edificio, Amenities - Laundry - Parrillas y Solarium - Terraza de uso común - Grupo Electrógeno.* COCHERAS DISPONIBLES DESDE USD 20.000* BARRIO: Nuevo Corredor urbano de 13 manzanas - Holmberg/Donado - Área parquizada  - Bicisendas  - Zona de importantes Embajadas - Rodeado de Espacios Verdes.* MEDIOS DE TRANSPORTE: Siete cuadras del subte B - Próximo a UBA( Drago), Colegio San Patrick, estaciones Drago y Coglhan.SI TENES QUE VENDER PARA COMPRAR // SOMOS ESPECIALISTAS EN OPERACIONES SIMULTANEAS// COMUNICATE CON NOSOTROS PARA ASESORARTE. // Las medidas, superficies y valores de esta ficha son aproximadas y a título informativo únicamente.Triada propiedades Oficina central: 4 788 2600Direccion: Juramento 1304, CABAWeb: '
 '2 Amb al contrafrente,  luminoso. El departamento cuenta con living comedor con piso de cerámicos, dormitorio con pisos de parquet y placard empotrado, cocina separada y lavadero, dependencia y baño de servicio, baño completo. La propiedad se encuentra toda reciclada en impecable estado. Ubicado a metros de Plaza Colon y del mar. Piso 6ºUbicación: Colón e/ Entre Rios y Corrientes Valor: u$s 95.900Girard propiedades | Reg. 3150Entre Ríos 2140 | Mar del Plata | ArgentinaTel. +54 (0223) 495-5488 | (0223) 496-0021'
 'Departamento de 77 m2 apto profesional. Edificio racionalista de buena categoría. Hall de recepción. Dos despachos al frente y otro interno. Cocina. Baño completo. Cocina. Lavadero. Dependencia. baño de servicio. Para reciclar. Baulera.Código de Inmueble: IAP478380IZRASTZOFF Compañía InmobiliariaJorge Izrastzoff: CUCICBA 1354María Izrastzoff: CUCICBA 4516 | CSI 5191Continúe su búsqueda en el sitio web de Izrastzoff, el más avanzado de la industria. Contamos con sucursales en Recoleta, Barrio Norte, Nordelta y Pilar. Llámenos al .']
col: title --> contenido: ['2 AMB TIPO CASA SIN EXPENSAS EN PB'
 'VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37               '
 '2 AMB 3ER PISO CON ASCENSOR APTO CREDITO' ...
 'Torre Forum Alcorta- Impecable 3 ambientes'
 'VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTRENAR BALCON AMENITIES.'
 'Departamento apto profesional en el Centro']
col: image_thumbnail --> contenido: ['https://thumbs4.properati.com/8/BluUYiHJLhgIIKufMJMwHtquzhk=/trim/198x0/smart/filters:strip_icc()/inmobiliariafedele.com/photos/CARHUE%202278-IMG_3400.JPG'
 'https://thumbs4.properati.com/7/ikpVBu2ztHA7jv45KAKirGL3JM8=/trim/198x0/smart/filters:strip_icc()/antoninipropiedades.com/photos/401-1-7%20y%2037%2010A%201.jpg'
 'https://thumbs4.properati.com/5/SXKr34F_IwG3W_Ejwfu6QpW4cH0=/trim/198x0/smart/filters:strip_icc()/inmobiliariafedele.com/photos/GUAMINI%201171-IMG_3403.JPG'
 ...
 'https://thumbs4.properati.com/9/YAe_-2gRVykADPHLfE0MFw1K54Y=/trim/198x0/smart/filters:strip_icc()/tbcn.s3-accelerate.amazonaws.com/pictures/98832394014178272602549982435473910786461863906458642458125726101663008133455.jpg'
 'https://thumbs4.properati.com/8/Q12PTvU6BQJ0ibMCBYGLV9D9NpU=/trim/198x0/smart/filters:strip_icc()/tbcn.s3-accelerate.amazonaws.com/water_pics/80820511657445528998149918818815507973096397276604284470326909475943656507279.jpg'
 'https://thumbs4.properati.com/8/mNEsnQWqB7joBFMJ1QxRb86ZeLA=/trim/198x0/smart/filters:strip_icc()/tbcn.s3-accelerate.amazonaws.com/water_pics/73445667254212241480484871208981222587675956867920446727339213599034800637919.jpg']

**Conclusiones**:  
    - operation: Hay solo registros con operaciones de venta ('sell'). Sin nulls. Eliminar col.  
    - property_type: OK.  
    - place_with_parent_names: Info duplicada. Sin nulls. Eliminar col.  
    - country_name: hay solo registros en Argentina. Sin nulls. Eliminar col.  
    - state_name: CABA y provincias. OK. Filtro.  
    - geonames_id: Por si es utilizable con otra herramienta. REVISAR.
    - lat-lon: Info duplicada. Mismos nulls que en otras celdas. Eliminar col.  
    - lat: OK.   
    - lon: OK. 
    - price, currency, price_aprox_local_currency: Info duplicada. Eliminar cols.  
    - price_aprox_usd: OK.  
    - surface_total_in_m2, surface_covered_in_m2: OK.  
    - price_usd_per_m2: calculable. revisar por diferente cantidad de nulls. REVISAR.
    - price_per_m2: Eliminar col.
    - floor: no se entiende que es. REVISAR.
    - rooms: OK.  
    - expenses: OK.  
    - properati_url: Eliminar col.
    - description: OK.  
    - title: OK. 
    - image_thumbnail: Eliminar col.

In [7]:
selected_columns = ['state_name', 'place_name', 'property_type', 'geonames_id', 'lat', 'lon',
                    'price_aprox_usd', 'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
                    'floor', 'rooms', 'expenses', 'description', 'title']
df = df.loc[:, selected_columns]
df.head(3)

,state_name,place_name,property_type,geonames_id,lat,lon,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,floor,rooms,expenses,description,title
0,Capital Federal,Mataderos,PH,3430787.0,-34.661824,-58.508839,62000.0,55.0,40.0,1127.272727,NaN,NaN,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB
1,Bs.As. G.B.A. Zona Sur,La Plata,apartment,3432039.0,-34.903883,-57.964330,150000.0,NaN,NaN,NaN,NaN,NaN,NaN,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...
2,Capital Federal,Mataderos,apartment,3430787.0,-34.652262,-58.522982,72000.0,55.0,55.0,1309.090909,NaN,NaN,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO

In [8]:
# Renombrar columas
df.rename(mapper={'surface_covered_in_m2': 'sup_cub', 'surface_total_in_m2': 'sup_total',
                  'price_aprox_usd': 'precio', 'price_usd_per_m2': 'precio_m2',
                  'property_type': 'tipo', 'place_name': 'barrio'}
                 , axis=1, inplace=True)

In [9]:
# Filtrar dejando solo los registros de CABA y eliminar columna de state_name
df = df.loc[df['state_name'] == 'Capital Federal']
df.drop('state_name', axis=1, inplace=True)
df.shape

(32316, 14)

In [10]:
# Filtrar por propiedades residenciales
df['tipo'].value_counts()
any(df['tipo'].isnull())

apartment    27037
house         2087
PH            1828
store         1364
Name: tipo, dtype: int64

False

In [11]:
# Remover todo property_type != 'apartment'
df = df[df['tipo'] == 'apartment']
df.shape

(27037, 14)

In [12]:
# Revisar si hay nulls en columna de precios en dólares
sum(df['precio'].isnull())

2883

In [13]:
# No hay registros con 'precio' nulo y 'precio_m2' no nulo
sum( (df['precio'].isnull()) & (df['precio_m2'].notnull()) ) 
df.loc[(df['precio'].isnull()) & (df['precio_m2'].notnull()), ].head()

0

Empty DataFrame
Columns: [barrio, tipo, geonames_id, lat, lon, precio, sup_total, sup_cub, precio_m2, floor, rooms, expenses, description, title]
Index: []

In [14]:
# Seleccionar los registros con precio notnull()
df = df.loc[df['precio'].notnull()]
df.shape

(24154, 14)

In [15]:
# Revisar registros donde la sup total existe pero no la sup cubierta
df.loc[(df['sup_total'].notnull()) & (df['sup_cub'].isnull())].shape
df.loc[(df['sup_total'].notnull()) & (df['sup_cub'].isnull())].head(3)

(897, 14)

,barrio,tipo,geonames_id,lat,lon,precio,sup_total,sup_cub,precio_m2,floor,rooms,expenses,description,title
66,Boedo,apartment,3436003.0,-34.618777,-58.402645,72900.0,38.0,NaN,1918.421053,NaN,NaN,1200.0,CODIGO: 5 ubicado en: Avenida Independencia 26...,"DEPARTAMENTO NUEVO, DE UN AMBIENTE amplio, 3 A..."
914,Belgrano,apartment,3436077.0,-34.566322,-58.463086,170000.0,69.0,NaN,2463.768116,NaN,2.0,2500.0,Venta de Departamento 2 AMBIENTES con COCHERA ...,DEPARTAMENTO EN VENTA
5404,Belgrano,apartment,3436077.0,-34.561246,-58.453491,285000.0,90.0,NaN,3166.666667,15.0,3.0,3200.0,"Venta de Departamento 3 AMBIENTES en Belgrano,...",DEPARTAMENTO EN VENTA

In [16]:
# Asignar a sup_cub el valor de sup_total para aquellos casos identificados en el punto anterior
df = df.fillna({'sup_cub': df['sup_total']})

In [17]:
# Revisar registros donde la sup cub existe pero no la sup total
df.loc[(df['sup_total'].isnull()) & (df['sup_cub'].notnull())].shape
df.loc[(df['sup_total'].isnull()) & (df['sup_cub'].notnull())].head(3)

(3868, 14)

,barrio,tipo,geonames_id,lat,lon,precio,sup_total,sup_cub,precio_m2,floor,rooms,expenses,description,title
120,Belgrano,apartment,3436077.0,-34.562697,-58.460157,178000.0,NaN,55.0,NaN,12.0,NaN,NaN,"Depto de 3 amb. c/cochera cubierta, en piso 12...","Departamento con Plantas en Mendoza 2700, Capi..."
157,Balvanera,apartment,6693228.0,-34.617226,-58.395943,129000.0,NaN,80.0,NaN,NaN,4.0,NaN,Corredor Responsable: Daniel Acosta - CUCICBA ...,4 amb. c/dep muy bueno. Oportunidad.
166,Caballito,apartment,3435874.0,-34.620725,-58.438704,128000.0,NaN,51.0,NaN,6.0,2.0,NaN,Corredor Responsable: Mariano Aufseher - CUCIC...,"!!UNICO!! 2 amb c/ balcón, baulera VISTA PANOR..."

In [18]:
# Asignar a sup_total el valor de sup_cub para aquellos casos identificados en el punto anterior
df = df.fillna({'sup_total': df['sup_cub']})

In [19]:
# Revisar registros donde sup_total y sup_cub son NaN
df.loc[(df['sup_total'].isnull()) & (df['sup_cub'].isnull())].shape

(377, 14)

In [20]:
# Eliminar registros donde la sup_total y sup_cub son NaN
df.dropna(subset=['sup_total', 'sup_cub'], inplace=True)

In [21]:
# Check final de existencia de dato en columnas precio, sup_tot y sup_cub
df.loc[(df['sup_total'].isnull())].shape
df.loc[(df['sup_cub'].isnull())].shape
df.loc[(df['precio'].isnull())].shape

(0, 14)

(0, 14)

(0, 14)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23777 entries, 2 to 121219
Data columns (total 14 columns):
barrio         23777 non-null object
tipo           23777 non-null object
geonames_id    22799 non-null float64
lat            17888 non-null float64
lon            17888 non-null float64
precio         23777 non-null float64
sup_total      23777 non-null float64
sup_cub        23777 non-null float64
precio_m2      19896 non-null float64
floor          2766 non-null float64
rooms          12729 non-null float64
expenses       5905 non-null float64
description    23777 non-null object
title          23777 non-null object
dtypes: float64(10), object(4)
memory usage: 2.7+ MB

In [23]:
df.shape

(23777, 14)

In [24]:
df.head()

,barrio,tipo,geonames_id,lat,lon,precio,sup_total,sup_cub,precio_m2,floor,rooms,expenses,description,title
2,Mataderos,apartment,3430787.0,-34.652262,-58.522982,72000.0,55.0,55.0,1309.090909,NaN,NaN,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
7,Belgrano,apartment,3436077.0,-34.559873,-58.443362,138000.0,45.0,40.0,3066.666667,NaN,NaN,NaN,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...
8,Belgrano,apartment,3436077.0,-34.559873,-58.443362,195000.0,65.0,60.0,3000.000000,NaN,NaN,NaN,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,..."
13,Palermo Soho,apartment,3430234.0,NaN,NaN,111700.0,50.0,30.0,2234.000000,NaN,1.0,NaN,Torre I Mondrian. 3 ambientes con terraza y d...,Vitraux Palermo
14,Palermo Soho,apartment,3430234.0,NaN,NaN,147900.0,42.0,31.0,3521.428571,NaN,1.0,NaN,Torre II Dalí. Ambiente unico divisible.Vitrau...,Vitraux Palermo

In [25]:
# Crear una columna con sup_desc
df['sup_desc'] = df['sup_total'] - df['sup_cub']
any(df['sup_desc'].isnull())

False

In [26]:
# Completar los registros sin 'precio_m2' con el valor calculado como 'precio' / 'sup_total'
df.fillna({'precio_m2': df['precio'] / df['sup_total']}, inplace=True)
sum(df['precio_m2'].isnull())

0

In [27]:
# Contando los casos ajustados en el paso anterior, ~25% de los datos no coincide
comparar_precio_m2 = df['precio'] / df['sup_total'] != df['precio_m2']
sum(comparar_precio_m2)

6268

In [28]:
# Convertir la columna de 'precio_m2' al valor calculado en lugar del registrado en la base
df['precio_m2'] = df['precio'] / df['sup_total']

In [29]:
# Recheck
comparar_precio_m2 = df['precio'] / df['sup_total'] != df['precio_m2']
sum(comparar_precio_m2)

0

In [30]:
# ELIMINAR REGISTROS DUPLICADOS
# VALIDAR GEONAMES_ID con BARRIO
# Lista de las 10 top words en description
# Lista de las 10 top words en title y ver si no duplica info de description

In [31]:
# Guardar archivo con datos limpios
df.to_csv('properatti_clean.csv')